#Navigation{
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid grey;
    background-color: rgb(255, 253, 253);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: px 15px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar li {
    margin: 0 10px;
    color: rgb(230, 160, 47);
}

.navbar a {
    color: rgb(230, 160, 47);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    color: black;
}

.navbar .icon {
    display: none;
}

#picture {
    border-radius: 50%;
    border: 3px solid rgb(230, 160, 47);
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

#search-bar {
    flex-grow: 1;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    border: 1px solid rgb(230, 160, 47);
    max-width: 300px;
}

#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(230, 160, 47);
    margin-left: auto;
    font-size: 1.5rem;
    margin-right: 15px;
}

#Sellproduct {
    color: rgb(253, 250, 250);
    background-color: rgb(247, 66, 66);
    border-radius: 10px;
    opacity: 80%;
}

#Sellproduct:hover{
    background-color: rgb(249, 0, 0);
}

@media screen and (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar li {
        display: none;
    }

    .navbar li.icon {
        display: block;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0px;
    }

    .navbar.responsive ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar.responsive li {
        display: block;
        width: 100%;
    }

    .navbar.responsive #search-bar {
        margin: 10px 0;
        width: 100%;
        max-width: none;
    }

    .navbar.responsive #title {
        margin-top: 10px;
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
    }

    .navbar.responsive a {
        text-align: left;
        padding: 14px;
    }
}

body {
    font-family: Arial, sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-input:focus {
    border-color: #ffa500;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #ffa500;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #e69500;
}

.Category {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    margin: 15px;
    text-align: center;
}

.Cat {
    border: 3px solid rgb(230, 160, 47);
    border-radius: 10px;
    width: 200px;
    height: 170px;
    object-fit: cover;
}